# MaxBCG CATALOG OF 13,823 GALAXY CLUSTERS FROM SDSS

The data comes from Koester et al. (2007a)

* 13,823 galaxy clusters
* velocity dispersion ~ 400 km/s
* 0.5 Gpc³ 7,500 deg²
* 0.1 < z < 0.3
* 10 - 190 E/SO galaxies brigther than 0.4 L* within R200
* Masses > 1 * 10¹⁴ massas solares

Let's read the table:

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure, show

ax = np.genfromtxt(fname="TabKoester.csv", skip_header=1, delimiter=",", dtype=None)
fig = figure(1,figsize=(5,5))

Let's test the table:

In [2]:
print ax

[(239.58334, 27.23342, 0.103, 0.09079, 8.67, 10.73, 274.7, 343.4, 95, 188)
 (140.10742, 30.49406, 0.292, 19.3, 24.0, 245.7, 300.7, 69.0, 126, -1)
 (198.77182, 51.81738, 0.286, 16.12, 19.96, 166.1, 201.8, 62.0, 87, -1)
 ..., (119.6046, 17.97428, 0.273, 0.97, 1.24, 8.6, 10.7, 11.0, 10, -1)
 (150.82506, 11.42571, 0.211, 1.02, 1.25, 7.6, 9.3, 14.0, 10, -1)
 (194.67892, -1.77815, 0.116, 0.66, 0.82, 9.4, 11.5, 19.0, 17, -1)]

Now, for a better view, we can also use pandas.

The columns of this table contains photometric and spectroscopic redshift, BCG r-band luminosity, BCG i-band luminosity, total r-band luminosity, total i-band luminosity, galaxy count and scaled richness from left to right.

For to make some plot I will need first match each column to a varible. Let's try to do that first for z photometric, zph;

In [3]:
table = pd.DataFrame(ax,)
table.head()

          f0        f1     f2        f3     f4      f5     f6     f7   f8   f9
0  239.58334  27.23342  0.103   0.09079   8.67   10.73  274.7  343.4   95  188
1  140.10742  30.49406  0.292  19.30000  24.00  245.70  300.7   69.0  126   -1
2  198.77182  51.81738  0.286  16.12000  19.96  166.10  201.8   62.0   87   -1
3  126.37104  47.13348  0.135   0.12898  19.02   24.43  152.7  192.1   68   99
4  203.16008  50.55992  0.284  11.52000  14.66  229.60  277.9   67.0  114   -1

In [4]:
zph = ax[:,2]

IndexError: too many indices for array

Why did I get an error?